<div class="footer">
    <div class="blockfooter">
        <div class="flexblock">
        {% if logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="footer__logo-pic1" />
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="footer__logo-pic1" /></a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
            <div class="footorblock1 footorblockadaptation">
            {% if logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="footer__logo-pic" />
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="footer__logo-pic" /></a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
                <img src="./catalog/view/theme/default2/img/Logo.svg" alt="default2" class="footer__logo-pic">
                <div class="block1flex">
                <ul class="listfootertext">
                <li class="blockfootertext" style="list-style-type:none"><p class="footertext">{{ address }}</p></li>
                <li class="blockfootertext" style="list-style-type:none"><p class="footertext">{{ telephone }}</p></li>
                <li class="blockfootertext" style="list-style-type:none"><p class="footertext">{{ open }}</p></li>
                </ul>
                    <div class="socialcommynity">
                        <img class="bxl-facebook" src="./catalog/view/theme/default2/img/footer/bxl-facebook.svg.svg" alt="">
                        <img src="./catalog/view/theme/default2/img/footer/bxl-instagram.svg.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="footorblock2 footorblockadaptation">
                <ul>
                <li style="list-style-type:none">{% for breadcrumb in breadcrumbs %}<a href="{{ breadcrumb.href }}" class="katalog footertextdecoration">{{ breadcrumb.text }}</a>{% endfor %}</li>
                <li style="list-style-type:none"><a href="http://192.168.2.110/index.php?route=information/information&information_id=7" class="project footertextdecoration">Проекты</a></li>
                <li style="list-style-type:none"><a href="./catalog/view/theme/default2/php/i.php" class="pricelist footertextdecoration">Прайс-лист</a></li>
                <li style="list-style-type:none"><a href="http://192.168.2.110/index.php?route=information/information&information_id=6" class="support footertextdecoration">Поддержка</a></li>
                <li style="list-style-type:none"><a href="{{ contact }}" class="contacts footertextdecoration">{{ text_contact }}</a></li>
                </ul>
            </div>
            <div class="footorblock3 footorblockadaptation">
                <ul>{% for information in informations %}
                <li style="list-style-type:none"><a href="{{ information.href }}" class="about footertextdecoration">{{ information.title }}</a></li>{% endfor %}
                </ul>
            </div>
            <div class="footorblock4 footorblockadaptation">
                <ul>
                {% if categories %}
                    {% for category in categories %}
                        {% if category.children %}
                            <li style="list-style-type:none"><a class="trackind footertextdecoration" href="{{ category.href }}">{{ category.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
            <div class="footorblock5 footorblockadaptation">
                <ul>
                {% if categories %}
                    {% for category in categories %}
                        {% if category.children %}
                            {% else %}
                            <li style="list-style-type:none"><a class="trackind footertextdecoration" href="{{ category.href }}">{{ category.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
            </div>
        </div>
        <div class="downfooter">
            <div class="flexdownfooter">
                <ul>
                    <li style="list-style-type:none"><p class="textdownfooter">©2020, ZKTeco. Все права защищены</p></li>
                </ul>
                <img src="./catalog/view/theme/default2/img/footer/footerpayment.svg" alt="" class="footerpayment">
                <img src="./catalog/view/theme/default2/img/footer/logocompanies.svg" alt="" class="logocompanies">
                <img src="./catalog/view/theme/default2/img/footer/footersupport.svg" alt="" class="footersupport">
            </div>
        </div>
    </div>
</div>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>