{{ header }}
{{ content_top }}
<div class="main">
    {{ slick_slider }}
    <div class="slidercatalog">
    {{menu}}
    </div>
    <div class="frame49">
    {{menu}}
    </div>
    <div class="discount">{{ content_bottom }}</div>
    <div class="blocklatintext">
        <p class="h2latintext">{{ config_meta_description }}{{ upconfig_meta_description }}</p>
        <p class="platintext">{{ config_meta_keyword }}</p>
    </div>
</div>
{{ footer }}

