{{ header }}
{{ content_top }}
<div class="main">
    {{ slick_slider }}
    <div class="slidercatalog">
    {{menu}}
    </div>
    <div class="frame49">
    {{menu}}
    </div>
    {{ content_bottom }}
    <div class="discount">
        <div class="pconteiner1">
            <div class="upblock1">
                <div class="flexposition">
            <div class="block1">
                <img src="./catalog/view/theme/default2/img/main/greencube.svg" alt="" class="greencube">
                <p class="block1text1">MKW-H</p>
                <p class="block1text2">MKW-V и MKW-H - это водонепроницаемые автономные устройства контроля доступа с металлическим корпусом IP65 и клавиатурой.</p>
                <a href="#" class="button3">купить</a>
            </div>
            <div class="blockimg1">
                <img src="./catalog/view/theme/default2/img/main/imgblock1.svg" alt="" class="blockimg1pic">
            </div>
            </div>
            </div>
            <div class="upblock2">
            <div class="block2">
                <img src="./catalog/view/theme/default2/img/main/blackcube.svg" alt="" class="blackcube">
                <p class="block2text1">ZN-T3</p>
                <p class="block2text2">Wi-Fi камера для измерения температуры тела.</p>
                <p class="block2text3">10 321 ₽</p>
                <a href="#" class="button4">купить</a>
            </div>
            <div class="blockimg2">
                <img src="./catalog/view/theme/default2/img/main/imgblock2.svg" alt="" class="blockimg2">
            </div>
            </div>
        </div>
    </div>
    <div class="blocklatintext">
        <p class="h2latintext">Vel scelerisque tortor.</p>
        <p class="platintext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris etiam tincidunt id diam nullam. Ipsum, eget aenean egestas lorem ultrices blandit velit. At dolor nascetur feugiat ornare. Tincidunt leo in orci libero. Egestas amet consequat, in nunc. At etiam faucibus molestie senectus neque nunc. Dolor, pellentesque risus habitant eget enim. Vitae, maecenas arcu ut pharetra lacus dignissim non leo, odio. Nisl ut eget ornare aenean. Egestas nunc scelerisque fames quis eget. Ac pharetra at tincidunt tempus lorem massa elit id rhoncus.
            A, amet id arcu sed sit. Tristique gravida tortor turpis congue porttitor velit ut. Mi erat nisl est nunc fames nunc egestas. Amet aliquam quis praesent vehicula consectetur odio nulla. In faucibus vulputate potenti mattis.
            Velit vestibulum nulla netus etiam pellentesque egestas commodo consectetur. In nullam fames quis vestibulum enim risus eget elementum. Pretium.
        </p>
    </div>
</div>
{{ footer }}

