<div class="pconteiner">{% for product in products %}
  <div class="upblock1">
    <div class="flexposition">
      <div class="block1">
        <p class="greencube">-5%</p>
        <p class="blackcube">Черная пятница!</p>
        <p class="block1text1">{{ product.name }}</p>
        <p class="block1text2">{{ product.description }}</p>
        <p class="block2text3">{{ product.price }}</p>
        <a href="{{ product.href }}" class="button3">купить</a>
        <a href="{{ product.href }}" class="button4">купить</a>
      </div>
      <div class="blockimg1">
          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="blockimg1pic">
      </div>
    </div>
  </div>{% endfor %}
</div>